<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
    <title>Title</title>
</head>
<body>
    <header>
        <h1>
            <a href="/">Django blog</a>
        </h1>
    </header>
    <main>
        <h2>
            <a href="{% url 'post_new' %}" class="add__post">+ New Blog Post</a>
        </h2>
    </main>
    <div class="container">
        {%block content%}
        {%endblock content%}
    </div>
</body>
</html>